<!DOCTYPE html>
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>Email template</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 2560px;height: 3400px;}
#page_1 #id1_1 {border:none;margin: 60px 0px 0px 552px;padding: 0px;border:none;width: 2008px;overflow: hidden;}
#page_1 #logo {border:none;margin: 140px 200px 0px 552px;padding: 0px;border:none;width:200px}
#page_1 #logo_line {margin: 50px 0px 0px 300px;border-color: #fcba19;background-color: #fcba19;width:1760px}
#page_1 #sec_1 {margin: 50px 0px 0px 260px;width:1760px}
#page_1 #sec_4 {margin: 50px 0px 0px -260px;width:1760px}
#page_1 #id1_2 {border:none;margin: 89px 0px 0px 559px;padding: 0px;border:none;width: 2001px;overflow: hidden;}
#page_1 #id1_2 #id1_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 710px;overflow: hidden;}
#page_1 #id1_2 #id1_2_2 {float:left;border:none;margin: 74px 0px 0px 0px;padding: 0px;border:none;width: 1291px;overflow: hidden;}
#page_1 #id1_3 {border:none;margin: 72px 0px 0px 559px;padding: 0px;border:none;width: 2001px;overflow: hidden;}
#page_1 #id1_4 {border:none;margin: 28px 0px 0px 559px;padding: 0px;border:none;width: 2001px;overflow: hidden;}
#page_1 #id1_4 #id1_4_1 {float:left;border:none;margin: 2px 0px 0px 0px;padding: 0px;border:none;width: 926px;overflow: hidden;}
#page_1 #id1_4 #id1_4_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 1075px;overflow: hidden;}
#page_1 #id1_5 {border:none;margin: 7px 0px 0px 559px;padding: 0px;border:none;width: 2001px;overflow: hidden;}
#page_1 #id1_6 {border:none;margin: 113px 0px 0px 559px;padding: 0px;border:none;width: 2001px;overflow: hidden;}
#page_1 #id1_7 {border:none;margin: 113px 0px 0px 917px;padding: 0px;border:none;width: 1643px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:2560px;height:3125px;}
#page_1 #p1dimg1 #p1img1 {width:2560px;height:3125px;}

td  { 
    padding: 0px;
	}

   table { 
    border-spacing: 0px;
    border-collapse: separate;
    }


.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: 24px 'Arial';color: #333333;line-height: 27px;}
.ft1{font: bold 24px 'Arial';color: #333333;line-height: 37px;}
.ft2{font: 24px 'Arial';color: #333333;line-height: 35px;}
.ft3{font: bold 32px 'Arial';color: #333333;line-height: 37px;}
.ft4{font: bold 48px 'Arial';color: #333333;line-height: 56px;}
.ft5{font: 32px 'Arial';color: #333333;line-height: 36px;}
.ft6{font: bold 24px 'Arial';color: #333333;line-height: 29px;}
.ft7{font: 19px 'Arial';color: #333333;line-height: 22px;}
.ft8{font: 21px 'Arial';color: #333333;line-height: 24px;}
.ft9{font: bold 22px 'Arial';color: #333333;line-height: 26px;}
.ft10{font: bold 21px 'Arial';color: #333333;line-height: 24px;}
.ft11{font: 21px 'Arial';color: #333333;line-height: 34px;}
.ft12{font: 21px 'Arial';color: #333333;line-height: 33px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-right: 666px;margin-top: 37px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 3px;margin-top: 113px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 9px;margin-top: 66px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 9px;margin-top: 21px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 11px;margin-top: 32px;margin-bottom: 0px;}
.p6{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;margin-top: 44px;margin-bottom: 0px;}
.p8{text-align: left;margin-top: 20px;margin-bottom: 0px;}
.p9{text-align: left;margin-top: 7px;margin-bottom: 0px;}
.p10{text-align: left;margin-top: 27px;margin-bottom: 0px;}
.p11{text-align: left;margin-top: 10px;margin-bottom: 0px;}
.p12{text-align: left;margin-top: 35px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 216px;margin-top: 108px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 216px;margin-top: 11px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 216px;margin-top: 117px;margin-bottom: 0px;}
.p16{text-align: left;padding-left: 115px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p17{text-align: left;margin-top: 46px;margin-bottom: 0px;}
.p18{text-align: left;margin-top: 51px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 336px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: left;margin-top: 68px;margin-bottom: 0px;}
.p21{text-align: left;margin-top: 14px;margin-bottom: 0px;}
.p22{text-align: left;margin-top: 57px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 84px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: left;padding-left: 5px;margin-top: 87px;margin-bottom: 0px;}
.p25{text-align: left;padding-left: 5px;padding-right: 801px;margin-top: 11px;margin-bottom: 0px;}
.p26{text-align: left;padding-left: 5px;padding-right: 801px;margin-top: 57px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 364px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 253px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 811px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 224px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 926px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 40px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 590px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 445px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 398px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 220px;vertical-align: bottom;}

.tr0{height: 47px;}
.tr1{height: 35px;}
.tr2{height: 34px;}
.tr3{height: 37px;}
.tr4{height: 41px;}
.tr5{height: 50px;}
.tr6{height: 40px;}

.t0{width: 627px;margin-top: 37px;font: 24px 'Arial';color: #333333;}
.t1{width: 1035px;font: 19px 'Arial';color: #333333;}
.t2{width: 966px;font: bold 22px 'Arial';color: #333333;}
.t3{width: 1035px;margin-top: 67px;font: 19px 'Arial';color: #333333;}
.t4{width: 1035px;margin-top: 29px;font: 19px 'Arial';color: #333333;}
.t5{width: 618px;margin-left: 2px;margin-top: 46px;font: 19px 'Arial';color: #333333;}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">

<hr id="logo_line">

<DIV class="dclr"></DIV>
<DIV id="id1_1">
<P class="p0 ft0">Hello,</P>
<P class="p1 ft2">Your submission has been received. If you have any questions or see any errors please contact the <SPAN class="ft1">Violation Ticket Centre </SPAN>at <SPAN class="ft1">1-877-661-8026.</SPAN></P>
<P class="p2 ft3">Submission confirmation</P>
<P class="p3 ft4">Ticket request sent successfully</P>
<P class="p4 ft5">Ticket reference #: <SPAN class="ft3">{{ ConfirmationNumber }}</SPAN></P>
</DIV>
<hr id = "sec_1">
<DIV id="id1_2">
<DIV id="id1_2_1">
<P class="p0 ft3">Submission details</P>
<TABLE class="t0">
<TR>
	<TD class="tr0 td0"><P class="p6 ft0">Ticket #: <SPAN class="ft3">{{ ViolationTicketNumber }}</SPAN></P></TD>
	<TD class="tr0 td1"><P class="p6 ft0">Violation date:<SPAN class="ft3">{{ ViolationDate }} {{ ViolationTime}}</SPAN></P></TD>
</TR>
</TABLE>

<P class="p7 ft3">Count 1</P>
<P class="p8 ft7">For this count I would like to:</P>
<P class="p9 ft6">{{ CountOneAction }}</P>
</DIV>
<DIV id="id1_2_2">
<P class="p13 ft7">I will appear in court:</P>
<P class="p14 ft6">{% if CountOneWillAppear  %}Yes{% else %}No{% endif %}</P>
</DIV>
</DIV>
<DIV id="id1_3">
<TABLE class="t1">
<TR>
	<TD class="tr1 td2"><P class="p6 ft7">Description of offence</P></TD>
	<TD class="tr1 td3"><P class="p16 ft7">Amount due</P></TD>
</TR>
<TR>
<TD class="tr2 td2">
<P class="p6 ft8">{% if CountOneAction == "PAY" %}Pay it{% elsif CountOneAction == "DISPUTE" %}Dispute it{% endif %}</P></TD>
	<TD class="tr2 td3"><P class="p16 ft8">${{ CountOneAmount }}</P></TD>
</TR>
</TABLE>
<P class="p22 ft6">Additional information</P>
<P class="p21 ft8">The following options apply to all counts on this ticket that are being disputed.</P>
	<hr id="sec_4">
	<TABLE class="t5">{% if CallWitness %}<TR>
			<TD class="tr2 td8"><P class="p6 ft7">Action</P></TD>
			<TD class="tr2 td9"><P class="p23 ft7"># of witness(es)</P></TD>
		</TR>
		<TR>
			<TD class="tr4 td8"><P class="p6 ft6">I intend to call witness(es)</P></TD>
			<TD class="tr4 td9"><P class="p23 ft6">{{ NumberofWitnesses}}</P></TD>
		</TR>{% endif %}{% if RequireInterpreter %}<TR>
			<TD class="tr5 td8"><P class="p6 ft7">Action</P></TD>
			<TD class="tr5 td9"><P class="p23 ft7">Language</P></TD>
		</TR>
		<TR>
			<TD class="tr6 td8"><P class="p6 ft6">I require an interpreter</P></TD>
			<TD class="tr6 td9"><P class="p23 ft6">{{ InterpreterLanguage }}</P></TD>
		</TR>{% endif %}</TABLE>
	<P class="p24 ft10">If you are calling a witness please keep the following information in mind:</P>
	<P class="p25 ft11">If the disputant or the disputant’s agent does not attend the court hearing, the court will treat the violation ticket as not disputed, the conviction(s) to the allegation(s) will be recorded against the record of the disputant.</P>
	<P class="p26 ft12">If the disputant or the disputant’s agent does not attend the court hearing, the court will treat the violation ticket as not disputed, the conviction(s) to the allegation(s) will be recorded against the record of the disputant, and the prescribed ticketed amount(s) will become immediately due and payable.</P>
</DIV>
	<DIV id="id1_7">
	<P class="p0 ft8">Copyright 2021 Government of British Columbia</P>
	</DIV>
</DIV>
</BODY>
</HTML>
